*{
  box-sizing:border-box;
}

body {
  margin: 0 auto;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size:8px;
}

:root {
  --main-bg-color: #fffbd3;
  --main-text-color: #48284a;
  --main-btn-bg-color: #b1b695;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
.navigation {
  font-size: 1.5rem;
}

.navbar-expand .navbar-nav .nav-link {
  padding: 0;
}
.navigation li {
  padding-left: 30px;
  margin: 0;
}
.navigation ul {
  margin: 0;
  padding: 0;
}
.about,
.hero,
.skills,
.projects {
margin:0 auto;

}

.hero{
  padding-bottom:80px;
}

.about{
  border-bottom:4px solid var(--main-text-color);
  background-color:var(--main-btn-bg-color);
  padding-top:125px;
}

.about img {
  margin-bottom:40px;
}



.skills{
  text-align:center;
  padding-top:8rem;
  padding-bottom:6rem;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: space-around;
}
.projects {
  text-align: center;
  background-color:var(--main-btn-bg-color);
  padding-top:8rem;
  padding-bottom:6rem;
}

.projects h1 {
  margin-bottom: 40px;
}
.project {
  font-family: "Lekton", sans-serif;
  min-width: 100px;
  max-width: 600px;
  margin: 0 3rem 4rem;
  padding: 0 40px;
  border: 4px solid var(--main-text-color);
  border-radius: 10px;
}
.project h3{
  margin:40px auto 60px;
}
.icon {
  color: var(--main-text-color);
  font-size: 5rem;
  margin: 20px;
}
.hero {
  font-family: "Alata", sans-serif;
  text-align: center;
background-image:url("./img/blob-scene-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid var(--main-text-color);
}
.hero-container {
  max-width: 600px;
  min-height:300px;
  margin: 0 auto;
  padding: 80px 0 0;
}

.hero h2{
  margin-bottom:20px;
}
.hero-txt {
}
.hero-img {
  border-radius: 50%;
  border: 2px solid var(--main-text-color);
}

footer{
  border-top:4px solid var(--main-text-color);
  
}

.contact h2{
  margin-top:40px;
}
footer{
  margin:0;
  padding:0;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.75rem;
  margin-bottom:3.5rem;
}

h3 {
  font-size: 2.5rem;
  margin:1.75rem auto 3.5rem;
  line-height:1.3;
}

p {
  font-size: 2rem;
}
