*{
  box-sizing:border-box;
}

body {
  margin: 0 auto;
  padding:0;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  font-size:10px;
}

:root {
  --main-bg-color: #fffbd3;
  --main-text-color: #48284a;
  --main-btn-bg-color: #b1b695;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.75rem;
  margin-bottom:3.5rem;
}

h3 {
  font-size: 2.5rem;
  margin:1.75rem auto 3.5rem;
  line-height:1.3;
}

p {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}
a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.349);
}
.navigation {
  font-size: 1.5rem;
  margin:0 15px 0 15px;
}
.sidebar-navigation-menu{
  background:var(--main-text-color);
  color:var(--main-btn-bg-color);
  min-width:200px;
}
.sidebar-navigation-menu ul{
  list-style:none;
  margin:0;
  padding:0;
}
.sidebar-navigation-menu li{
  margin:0;
  padding:0;
  text-align:left;
}

.sidebar-navigation-menu a{
  color:var(--main-btn-bg-color);
  margin:0;
  padding:0;
}

#hamburger-menu {
  width: 50px;
  height: 50px;
  display: block;
  position:absolute;
  top:20px;
  left:20px;
  border: none;
  padding: 0px;
  margin: 20px;
  background: linear-gradient(
    to bottom, 
    #48284a, #48284a 20%, 
    #fffbd3 20%, #fffbd3 40%, 
    #48284a 40%, #48284a 60%, 
    #fffbd3 60%, #fffbd3 80%, 
    #48284a 80%, #48284a 100%
  );
}

#hamburger-menu #sidebar-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #3D0E61;
  padding: 0px 10px;
  box-sizing: border-box;
  transition:.3s;
}


.navigation ul > li:first-child{
  padding-right:25px;
  font-weight:bold;
}

.navbar-expand .navbar-nav .nav-link {
  padding: 0;
}

.navigation .name{
  color:var(--main-btn-bg-color);
  text-shadow: 1px 1px 2px var(--main-text-color);
}
.navigation li {
  padding:0 0 0 1.3rem;;
  font-size:2rem;
  margin: 0;
}
.navigation ul {
  margin: 0;
  padding: 0;
}
.contact-btn{
  background-color:var(--main-btn-bg-color);
  padding:0 1.3rem !important;
  margin:0 1.3rem !important;
  border-radius:5px;
}

/*This centers the sections horizontally and provides padding between the sections*/
.about,
.hero,
.skills,
.projects {
margin:0 auto;
padding:5px 0 40px;

}

.hero {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-image:url("./img/hero-bckgrnd-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid var(--main-text-color);
  min-width:100%;
  
  
  
}
/*This aligns the hero text*/
.hero-container {
  max-width: 280px;
  min-height:300px;
  padding: 80px 0;
  margin:0 auto;
}
/*
.hero img{
  margin:0 20px;
}*/
/*Provides some spacing between Hi, I'm Kate and tagline*/
.hero h2{
  margin-bottom:20px;
}


/*----ABOUT SECTION STYLING----------*/
.about{
  border-bottom:4px solid var(--main-text-color);
  background-color:var(--main-btn-bg-color);
  padding-top:75px;
}

.about h3{
  padding:0 30px;
}
.about h2{
  padding:0 30px;
}
.about-img-container{
  margin:0 auto;
}

.about img {
  border-radius:50%;
  border: 2px solid var(--main-text-color);
  margin-bottom:30px;
}
.about-txt-container{
  max-width:310px;
}

/*--------Skills Styling------------*/
.skills{
  text-align:center;
  max-width:300px;
  padding:8rem 2rem 6rem;
  margin:0 auto;
}

.icon {
  color: var(--main-text-color);
  font-size: 5rem;
  margin: 20px;
}

/*----------Projects Styling---------*/

.projects {
  text-align: center;
  background-color:var(--main-btn-bg-color);
  padding-top:8rem;
  padding-bottom:6rem;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: space-around;
}

.projects h1 {
  margin-bottom: 40px;
}
.project {
  font-family: "Rubik", sans-serif;
  min-width: 100px;
  max-width: 600px;
  margin: 0 3rem 4rem;
  padding: 0 40px;
  border: 4px solid var(--main-text-color);
  border-radius: 10px;
  text-align:left;
}

.project-container{
  padding-bottom:30px;
}
.project h3{
  margin:40px auto 30px;
  font-size:3rem;
  padding:0;
  font-weight:900;
}

.project-skills{margin:0;
padding:0;
}
.tools{margin:0;
padding:0;}

.project p{
  font-size:2.5rem;
  margin:0;
  padding:0;
}
.project img{
  margin-bottom:40px;
  width:100%;
}




footer{
  border-top:4px solid var(--main-text-color);
  
}

.contact h2{
  margin-top:40px;
  font-weight:bold;
}

.contact h3{
  margin:0;
  padding:0;
}
footer{
  margin:0;
  padding:0 0 0 30px;
}
@media screen and (max-width:767px){
  #main-menu{display:none;
  }
  li{
    color:white;
  }
}
@media screen and (min-width:768px){

 html{
  font-size:16px;
 }
 #hamburger-menu{
  display:none;
 }
 #main-menu{
  display:block;
 }
 .hero-container{
  max-width: 600px;
  min-height:500px;
 }
 .skills{
  text-align:center;
  max-width:700px;
  padding:8rem 2rem 6rem;
  margin:0 auto;
}
 .project h3{
  font-size:2.5rem;
 }
 .project p {
  font-size:1.75rem;
 }
 .project{
  max-width:380px;
  margin: 0 3rem 4rem;
 }

}

@media screen and (min-width:1200px){
  .project{
    max-width:525px;
  }
}
